## 13-April-2020

In [2]:
#Question 1

print("Hello My name is Adarsh Raj \n\tI am 28 years old \n\t\tI am learning Python \nI hope to learn basic python by May end")

Hello My name is Adarsh Raj
	I am 28 years old
		I am learning Python
I hope to learn basic python by May end

In [3]:
#Question 2
import sys
print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [6]:
#Question 3
import datetime

now = datetime.datetime.now()
print(now.strftime("%Y %m %d %H %M %S"))

2020 04 13 09 20 26

In [12]:
#Question 4

from math import pi
r = 4
print("Area of circle with radius 4 is: "+ str(pi*r**2),4)

Area of circle with radius 4 is: 50.26548245743669 4

In [2]:
#Question 5

values = input("input numbers: ")
list = values.split(",")
tuple = tuple(list)
print(list)
print(tuple)

input numbers: 1,2,3,4,5,6
['1', '2', '3', '4', '5', '6']
('1', '2', '3', '4', '5', '6')

In [11]:
#Question 6

color = ["red","blue","green","yellow"]
print("First Color: "+color[0]+ " Last Color: "+color[-1])

First Color: red Last Color: yellow

In [ ]:
exam_st_date = (11, 12, 2014)
print()

In [13]:
#Question 7

n = int(input("please give integer"))

number = n + n*n + n*n*n
print(number)

please give integer5
155

In [15]:
#Question 8

import calendar

year = int(input("input year: "))
month = int(input("input month: "))

print(calendar.month(year,month))

input year: 2012
input month: 1
    January 2012
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [18]:
#Question 9

print("a string that you can't escape \nyou have to print that ")

a string that you can't escape
you have to print that

In [20]:
#Question 10

from datetime import date

Date2 = date(2020,4,12)
Date1 = date(2020,2,21)

diff = Date2-Date1
print(diff.days)

51

In [24]:
#Question 11

from math import pi

r = float(input("input radius"))
area = pi*r**2

print(area)

input radius3
28.274333882308138

In [42]:
#Quesiton 12

n = int(input("input number"))
number = n-17

if number > 17:
    print((n-17)*2)
else: 
    print("not valid")

input number35
36

In [4]:
#Question 13

def sum_number(n1,n2,n3):
    if n1==n2==n3:
        return (n1+n2+n3)*3
    else:
        return n1+n2+n3
    
sum_number(3,3,3)

27

In [7]:
#Question 14

def add_str(str):
    if len(str)>2 and str[:2] =="Is":
        return str
    else:
        return "Is"+ str
    
add_str("Isall")

'Isall'

In [11]:
#Question 15

def copy(str,n):
    result = ""
    for i in range(n):
        result = result + str
    return result
    
print(copy('abc',3))

abcabcabc

In [15]:
#Question 16

def odd_even(n):
    if n%2 == 0:
        print("number is even")
    else:
        print("number is odd")
        
odd_even(4)

number is even

In [19]:
#Question 17

def odd_even(nums):
    count = 0
    for num in nums:
        if num == 4:
            count = count+1
    return count

odd_even([1,2,4,3,4,6,7])

2

In [35]:
#Question 18

def first_two(str,n):
    if len(str)>1:
        str1 = str[:2]*n
        return str1
    else:
        print("invalid string")

first_two('abcd',4)

'abababab'

In [40]:
#Question 19

def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels

print(is_vowel('c'))
print(is_vowel('e'))

False
True

In [47]:
#Question 20

def is_group_member(group_data, n):
    for value in group_data:
        if n == value:
            return True
    return False
           
            
is_group_member([1,2,3,4,5],3)

True